name: Execute Test Suite

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
        os: [ubuntu-latest]
    runs_on: ${{ matrix.os }}
    name: "${{ matrix.os }} Python: ${{ matrix.python-version }}"
    steps:
      - name: Setup Python for tox
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Install tox
        run: python -m pip install tox tox-gh-actions
      - name: Setup Python ${{ matrix.python-version }} for test run
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup tox environment
        run: tox -vv --no-test
      - name: Run tests with tox
        run: tox -e py --skip-pkg-install

